{{define "username-error"}}
<div id="nil"></div>
<p class="hidden mt-1.5 text-xs text-red-500" id="name-error" hx-oob="true">{{.Error}}</p>
{{end}}

{{define "email-error"}}
<div id="nil"></div>
<p class="hidden mt-1.5 text-xs text-red-500" id="email-error" hx-oob="true"> {{.Error}} </p>
{{end}}

{{define "password-error"}}
<div id="nil"></div>
<p class="hidden mt-1.5 text-xs text-red-500" id="password-error" hx-oob="true"> {{.Error}} </p>
{{end}}

{{define "terms-error"}}
<div id="nil"></div>
<p class="hidden mt-1.5 text-xs text-red-500" id="term-error" hx-oob="true">{{.Error}}</p>
{{end}}